html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main,
.presentation,
.rate,
.rating {
  max-width: 940px;
  margin: auto;
}

.box,
.rate {
  margin-top: 25%;
  margin-bottom: 5%;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.slide h1 {
  font-size: 225%;
  font-weight: bold;
  margin: 5%;
  display: flex;
}

.slide .rating h1 {
  margin-top: 0;
  margin-bottom: 0%;
}

.rate-button {
  display: flex;
  justify-content: center;
}

.box h3 {
  font-size: 200%;
  margin-bottom: 5%;
}


.box button,
.eighth-slide button,
.rate button,
.slide button {
  font-size: 100%;
  margin-bottom: 5%;
  color: white;
  border: none;
  padding: 2%;
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  border-radius: 10px;
}


.social-media-box {
  width: 96%;
  border-radius: 20px;
  padding: 2%;
  max-height: 200px;
  background-color: black;
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.social-media-box img {
  max-width: 50px;
}

.photo {
  margin-bottom: 2.5%
}

a {
  color: black;
}

.presentation {
  display: none;
  margin-top: 3%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  border: none;
  opacity: 0%;
}

.presentation a {
  font-weight: bold;
  text-decoration: none;
}

h1 {
  font-size: 215%;
  font-weight: bold;
  margin-bottom: 5%;
  justify-content: center;
  text-align: center;
}


.presentation h2 {
  margin-bottom: 2.5%;
}

.presentation img {
  border: 2px solid black;
  border-radius: 10px;
  width: 60%;
}


.presentation img {
  border: 2px solid black;
  border-radius: 10px;
  width: 60%;
}


.presentation h4 {
  font-size: 75%;
  color: grey;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.img-box {
  display: inline-flex;
  justify-content: center;
  width: 42%;
}

.img-box img {
  max-height: 450px;
  margin: 2%;
}

.return,
.next {
  padding: 1.5% 4%;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 150%;
  margin: 1%;
}

.result {
  margin: 5%;
}

.eighth-slide button {
  width: 15%;
  margin: 2%;
  font-size: 50%;
}

.return {
  background: red;
  transform: scale(-1, 1);
}

.next {
  background: green;
}

.return,
.next {
  margin-bottom: 10%;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 70%;
    margin: 1%
  }

  .box {
    margin-top: 50%
  }

  .presentation {
    margin-top: 20%
  }

  ;
}

/* RATE SCREEN */

.rate {
  margin-top: 5%;
}

.rate {
  margin-bottom: 1%;
}

.rate h1 {
  margin-top: 2.5%;
  margin-bottom: 1%;
}

.initial h1 {
  margin-bottom: 2.5%;
}

.initial button {
  margin-bottom: 2.5%;
}


.after {
  display: none;
}

.question {
  margin-top: 2.5%;
}

.stars,
.medium-stars {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5%;
}

.star {
  font-size: 200%;
  -webkit-text-stroke: 1.5px #000000;
  margin: 0 0.25%;
}

input {
  width: 30%;
}

.textarea-container {
  display: flex;
  justify-content: center;
}

textarea {
  display: block;
  margin-bottom: 2.5%;
}

.question h3 {
  display: none;
  color: red;
  margin-top: 1%;
}

.rating {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.rating h1 {
  margin-right: 2%;
  margin-bottom: 1%;
}

.rating .star {
  margin-left: 3%;
}


.rates {
  width: 75%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 5%;
}

.rates h1 {
  margin-bottom: 0%;
}

.item-list h2 {
  margin-top: 5%;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5%;
}

.item-list h3 {
  font-size: 120%;
  text-align: center;
  margin-bottom: 5%;
  color: grey;
}

.item {
  border-radius: 10px;
  border: 2px solid grey;
  margin: 2% auto;
  width: 50%;
  word-wrap: break-word;
}

.item h2 {
  padding-bottom: 1%;
  border-bottom: 2px solid grey;
}

.item h3{
  font-size: 90%;
}
